* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}



.container {
    display: flex;
    height: 1300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: blue;

}



#counter {
    font-size: 70px;
    margin: 50px 0;
    color: blue;
}

button {
    font-size: 20px;
    padding: 15px 30px;
    margin: 13px;
    color: blue;
}
